.singCall {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    position: relative;
    text-align: right;
    }

.singCall:hover {
    background-color: #D4DFF32B;
    }

.singCall::before {
    background-color: #EAF0FA;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
    }

.avatar {
    height: 32px;
    width: 32px;
    }

.recordPlayer {
    background: #EAF0FA;
    border-radius: 48px;
    }

.musicButton {
    border-radius: 50%;
    height: 30px;
    margin: 10px;
    width: 30px;
    }

.singCall .tabType {
    width: 23px;
    margin-right: 30px;
    }
.singCall .tabTime{
    width: 41px;
    margin-right: 8px;
    }
.singCall .tabEmployer{
    width: 68px;
    }
.singCall .tabCall{
    width: 254px;
    margin-right: 72px;
    }
.singCall .tabSource{
    width: 197px;
    margin-right: 17px;
    }
.singCall .tabDurance{
    height: auto;
    width: 352px;
    margin-right: 40px;
    }
