.singCall{
padding: 16px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    }
.singCall::before{
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #EAF0FA;
    position: absolute;
    }
.avatar{
    width: 32px;
    height: 32px;
    }
